.iseven {
    background-color: rgb(252, 76, 2);
  }
  
  .isodd {
    background-color: rgb(0, 34, 68);
  }
  

.liBox2 {
    overflow: hidden;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
  }

  .liBox3 {
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    flex: none;
  }
  
  .liBox4 {
    margin-top: 24px;
    margin-left: 20px;
  }
  
  .liBox5 {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5px;
  }
  
  .liBox6 {
    display: flex;
    padding-top: 17px;
  }
  
  .liBox7 {
    font-size: 14px;
    font-weight: 600;
  }
  
  .liBox8 {
    padding-left: 5px;
    display: inline-block;
    width: 98%;
  }
  
  .liBox9 {
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  

  .buttonBox {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }