<div class="BaseBox">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">

                    <div class="col-auto">
                        <button class="btn  btn-lg  btn-success" #edit (click)="saveSpeakers();"
                            *ngIf="(showSaveButton$ | async)">SAVE</button>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>

                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" #search
                            placeholder="Search topics or keywords">

                    </div>

                </div>
            </div>
        </div>

    </div>

    <ul>
        <li class="liBox1" *ngFor="let speaker of (obsSpeakers$ | async) ;index as i;even as isEven;odd as isOdd ">

            <app-item (speakerChecked)="onspeakerChecked($event)" [speakerdata]=speaker [isEven]=isEven [isOdd]=isOdd>
            </app-item>

        </li>
    </ul>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>